* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-family: 'Noto Sans', sans-serif;
    font-family: 'PT Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
    background: rgb(211, 219, 221);
    background: linear-gradient(0deg, rgba(211, 219, 221, 1) 0%, rgba(255, 255, 255, 1) 90%, rgba(9, 121, 105, 1) 10%);
    height: 100vh;

}

.container {
    width: 80%;
    margin: 0 auto;
    height: 80%;
    margin-top: 40px;
    display: flex;
    background-color: white;
}

.list-contacts {
    height: calc(80% - 54px);
    overflow-y: auto;
}

.contacts {
    width: 30%;
    height: 100%;
}

.chat {
    width: 70%;
    height: 100%;
}

.contacts header,
.contact {
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: space-between;
}

.contacts header {
    border-right: 1px solid lightgrey;
}

.contacts header,
.chat header {
    background-color: rgba(234, 234, 234, 255);
}

.contacts header div,
.contact div {
    display: flex;
    align-items: center;
}

.contacts header img,
.contact img {
    width: 50px;
    margin: 0 10px;
    border-radius: 50%;
}

.contacts header i {
    margin-right: 15px;
    color: rgba(175, 176, 177, 255);
}

.contact {
    padding: 60px 0;
}

.contact:hover {
    cursor: pointer;
    background-color: lightgray;
}

.chat header {
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: space-between;
}

.chat header div {
    display: flex;
    align-items: center;
}

.chat header img {
    width: 50px;
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 50%;
}

.chat header i {
    margin-right: 15px;
    color: rgba(175, 176, 177, 255);
}

.last-access,
.last-message {
    color: gray;
    font-size: 13px;
    padding-top: 5px;
    padding-right: 5px;
}

.notifications {
    height: 10%;
    display: flex;
    align-items: center;
    background-color: rgba(142, 218, 252, 255);
}

.notifications i {
    margin: 0 5px;
    padding: 15px;
    background-color: white;
    border-radius: 50%;
    color: rgba(142, 218, 252, 255);
}

.notifications a {
    color: #407f98;
    font-size: 13px;
}

.research {
    padding: 7px;
    background-color: rgba(251, 251, 251, 255);
}

.research button,
input {
    height: 40px;
}

.research input {
    padding: 10px;
    width: 90%;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-left: none;
    border-top: 0.5px solid lightgrey;
    border-right: 0.5px solid lightgrey;
    border-bottom: 0.5px solid lightgrey;
}

.research button {
    width: 10%;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border: 0.5px solid lightgrey;
}

.chat main {
    background-image: url('../img/mine.jpg');
    height: 80%;
    padding: 40px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
}

.message {
    width: 30%;
    padding: 15px;
    border-radius: 10px;
    margin: 15px 0;
    display: flex;
}

.received {
    background-color: white;
}

.sent {
    align-self: flex-end;
    background-color: rgba(213, 249, 187, 255);
}

.chat footer {
    height: 10%;
    display: flex;
    padding: 5px;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(243, 238, 234, 255);
}

.chat footer input {
    padding: 10px;
    width: 90%;
    border: 0.5px solid lightgrey;
    border-radius: 5px;
}

.chat footer i {
    margin: 0 10px;
    color: rgba(105, 114, 120, 255);
}

.hide {
    display: none;
}