<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue Boolzapp</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300&family=Noto+Sans:wght@100;400;700&family=PT+Sans:wght@400;700&family=Roboto:wght@300;400&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
        integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <div id="app" class="container">
        <div class="contacts">
            <header>
                <div>
                    <img src="img/avatar_io.jpg" alt="">
                    <span>Sofia</span>
                </div>

                <div>
                    <i class="fa-sharp fa-solid fa-rotate-right"></i>
                    <i class="fa-solid fa-message"></i>
                    <i class="fa-solid fa-ellipsis-vertical"></i>
                </div>
            </header>

            <div class="notifications">
                <i class="fa-solid fa-bell-slash"></i>
                <span>Ricevi notifiche dei messaggi <br><a href="">Attiva notifiche desktop</a></span>

            </div>
            <div class="research">
                <button><i class="fa-solid fa-magnifying-glass"></i></button>
                <input type="search" placeholder="Cerca o inizia una nuova chat">
            </div>
            <div class="list-contacts">
                <div class="contact" v-for="(contact,index) in contacts" @click="changeChat(index)">
                    <div>
                        <img :src="'img/avatar'+ contact.avatar+ '.jpg'" :alt="contact.name">
                        <span>{{contact.name}} <br><span class="last-message">Ultimo messaggio inviato</span></span>
                    </div>

                    <span class="last-access">12:00</span>
                </div>
            </div>
        </div>
        <div class="chat">
            <header>
                <div>
                    <img :src="'img/avatar'+ contacts[currentContact].avatar+ '.jpg'" alt="">
                    <span>{{contacts[currentContact].name}} <br><span class="last-access">Ultimo accesso oggi alle 12:00</span></span>
                </div>

                <div>
                    <i class="fa-solid fa-magnifying-glass"></i>
                    <i class="fa-solid fa-paperclip"></i>
                    <i class="fa-solid fa-ellipsis-vertical"></i>
                </div>
            </header>
            <main>
                <div v-bind:class="sms.status=='sent' ? 'sent' : 'received'" class="message " v-for="sms in contacts[currentContact].messages">
                    {{sms.message}}
                </div>
            </main>
            <footer>
                <i class="fa-regular fa-face-smile"></i>
                <input @keyup.enter="sendMessage" v-model="newMessage" type="text" placeholder="Scrivi un messaggio">
                <i class="fa-solid fa-microphone"></i>

            </footer>
        </div>
    </div>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="script.js"></script>
</body>

</html>